@import url(./__logo/header__logo.css);
@import url(./__lang-options/header__lang-options.css);
@import url(./__lang-option/header__lang-option.css);
@import url(./__lang-option-link/header__lang-option-link.css);
@import url(./__lang-option-link/_active/header__lang-option-link_active.css);

.header {
  max-width: 984px;
  max-height: 44px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
  }
}
