@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 168px;
    margin-top: 64px;
    margin-left: 16px;
    flex-direction: column;
  }
}
